* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: flex;
  justify-content: center;
}
:root {
  --application-width: 1920px;
  --application-height: 1800px;
  --backgrouncolormain: none;
  --footerheight: 30px;
  --iconareawidth: 80px;
  --contactareawidth: 400px;
  --detailsareawidth: 350px;
  --chatareawidth: 80px;
  
  /* Development colors start */
  --dev-root-background-color: aqua;
  --dev-iconarea-backgound-color: hsla(0, 85.32%, 72.75%, 1);
  --dev-contactsarea-backgound-color: none;
  background-color: var(--dev-root-background-color);
  /* Development colors ends */


}

/* -------------- Start layout styles -------------- */

.chatmainframe {
  display: flex;
  width: var(--application-width);
  max-height: var(--application-height);
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: var(--backgrouncolormain);
}

.mainchatarea {
  display: flex;
  height: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.footer {
  width: 100%;
  height: var(--footerheight);
  background-color: yellow;
}
.iconarea {
  min-width: var(--iconareawidth);
  background-color: var(--dev-iconarea-backgound-color);
}
.contactsarea {
  display: flex;
  overflow: auto;
  width: 100%;
  max-width: var(--contactareawidth);
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: var(--dev-contactsarea-backgound-color);
}
.chatarea {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  background-color: hsla(118, 63.94%, 68.57%, 1);
}
.detailsarea {
  width: 100%;
  max-width: var(--detailsareawidth);
  background-color: hsla(61, 67%, 51.52%, 1);
}

/* -------------- End layout styles -------------- */

.chatcard {
  background-color: #fff;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
}

.chatcard:hover {
  background-color: #cfcece;
}

.avatar {
  border: 1px solid #757575;
  border-radius: 90px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.chatcardtextarea {
  flex-flow: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  padding-right: 20px;
  display: flex;
}

.chatcardnamereceivedbox {
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 10px;
  display: flex;
}

.chatcardnametext {
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: 700;
}

.chatcardreceived {
  color: gray;
  font-size: 18px;
}

.chatcardmessage {
  color: gray;
}

.chatcardmessagebox {
  justify-content: space-between;
  display: flex;
}

.cardmessagenum {
  color: #fff;
  background-color: red;
  border-radius: 19px;
  padding: 3px 5px;
}

.chatcardouter {
  flex-flow: column;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
}

.separatorline {
  border: 1px solid gray;
  height: 0;
  margin-left: 20px;
  margin-right: 20px;
}
